<div class="container d-flex justify-content-between">
    <div class="card" style="width: 18rem;" *ngFor="let p of produtos">
        <img src="{{p.img}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{p.nome}}</h5>
          <p class="card-text">{{p.descricao}}</p>
          <p class="card-text">{{p.valor | currency: 'BRL'}} </p>
          <a href="#" class="btn btn-primary bg-danger-subtle text-danger" (click)="Comprar()">Comprar</a>
        </div>
    </div>
</div>

